<%- include('partials/header') -%>
<div id='myMap' style='width: 400px; height: 400px;'></div>
<script type='text/javascript'>
  function loadMapScenario() {
    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
    credentials: 'AveUVzCf_U3LuA7ZrKW0O_cpICQp56NjbDrecj4DK6zR5Oi0uhTqdaAUkaQiBTGT',
    zoom: 4,
// I tried putting 'config.env.BING' in the credentials, but I don't think it's working-will circle back
 });
  }
      </script>
        <div class="container my-3">
          <h1 class="display-4 text-center">
            <i class="fas fa-map-marked mr-4"></i>Store Locator
          </h1>
          <a href="add.html" class="btn btn-success mb-4">Add Store</a>
          <div
            id="map"
            style="width: 100%; height: 500px;border-radius: 5px;"
          ></div>
        </div>

        <div class="container my-3">
          <h1 class="display-4 text-center">
            Add Store
          </h1>
    
          <form id="store-form" class="mb-4">
            <div class="form-group">
              <label for="store-id">Store ID</label>
              <input type="text" id="store-id" class="form-control" />
            </div>
            <div class="form-group">
              <label for="store-address">Store Address</label>
              <input type="text" id="store-address" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="index.html" class="btn btn-secondary">Back</a>
          </form>
        </div>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
  <script src="js/map.js"></script>
  <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>
</body>
<%- include('partials/footer') -%>